@import url('https://fonts.googleapis.com/css?family=B612+Mono&display=swap');

.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    display: flex;
    flex-flow: column nowrap;
    
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }
  
  .numbersContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 1rem;
  }

  .specialsContainer {
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }

  .operatorsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .button {
      border-radius: 50%;
      font-size: 3rem;
      padding: 1.5rem 1.75rem;
      margin: 1rem;
      background-color: #113C78;
      color: white;
      font-family: 'B612 Mono', monospace;
      border: none;
      box-shadow: 0 4px #420108;
  }

  .numberButton {
      background: #113C78;
  }

  .specialButton {
      background: #1F60AF;
  }

  .operatorButton {
      background: #3DB5E5;
  }
